.jumbotron {
    margin-bottom: 0px;
    width: auto;
    height: auto;
}

#headline{
  border-left: 10px solid #ffff00; /* 左ボーダーを、10px幅の実線、線色#CC3366に */
  padding-left: 5px;
}

.jumbotron_top {
    background: url(../images/headoccomp.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-position: 0% 25%;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;
}

.jumbotron_forOltr {
    background: url(../images/headoccomp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: 0% 25%;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;
}


.jumbotron_sp {
    margin-bottom: 0px;
    color: white;
    width: auto;
    color: white;
    height: auto;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;
}

.btn-two {
    margin-right: 20px;
}

span.footer {font-size: small; }



.row-10{
  margin-left:-5px;
  margin-right:-5px;
 
  > div{
    padding-right:5px;
    padding-left:5px;
  }
}

.slide-popup {
  position: fixed;
  right: -340px;
  width: 400px;
  height: 60px;
  box-shadow: 0 0 10px;
  z-index: 9999;
}
.slide-popup .slide-popup-icon {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
}
.slide-popup .slide-popup-text {
  position: absolute;
  left: 60px;
  padding: 20px;
}
.slide-popup1 {
  top: 100px;
  background-color: #4682b4;
  color: #000;
}
.slide-popup2 {
  top: 180px;
  color: #000;
  background-color: #f5deb3;
}
